---
import '../styles/a11y/skiplink.css';

interface Props {
  skipLink: {
    href: string;
    label: string;
  }[];
}

const { skipLink } = Astro.props;
---

<nav role='navigation' aria-label='accès rapide' class='skiplink'>
  <ul>
    {
      skipLink.map((link) => {
        <li>
          <a href={link.href}>{link.label}</a>
        </li>;
      })
    }
  </ul>
</nav>
